<div ng-hide="isLoggedIn()" class="row">
          <a style="width:200px; margin:10px 5px 10px 5px;" class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a style="width:200px; margin:10px 5px 10px 5px;" class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a style="width:200px; margin:10px 5px 10px 5px;" class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
</div>