<nav-bar></nav-bar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Coding problems!</h1>
    <p class="lead">JavaScript practice problems from across the web</p>
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
    <div class="container">
    <auth></auth>
    </div>
  </div>
</header>

<!-- LIST GROUP EXAMPLE
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Topics</h2>
       <ul class="list-group">
       	   	<a ng-repeat="topic in topics" href="{{topic.link}}" class="list-group-item list-group-item-default">{{topic.title}}</a>
	   </ul>
    </div>
  </div>
-->
<br>
<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="topic in topics">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{topic.title}}</h3>
        <p>This is some text about {{topic.description}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Start</a></p>
      </div>
    </div>
  </div>
</div>
</div>
